@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #fafbff;
   overflow-x: hidden;
}
