@mixin text-style($size: 1.4rem, $weight: 400, $color: inherit) {
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin media-query($breakpoint) {
    @media (max-width: $breakpoint) {
        @content;
    }
}