$primary-color:#4F46BA;
$secondary-color:#121D2D;
$accent-color:#FC4B4B;


$text-primary-color:#121D2D;
$text-secondary-color:#616161;


$font-size-xs: 1.2rem;   // 12px
$font-size-sm: 1.4rem;   // 14px
$font-size-base: 1.6rem; // 16px
$font-size-md: 1.8rem;   // 18px
$font-size-lg: 2.4rem;   // 24px
$font-size-xl: 4.8rem;   // 48px
$font-size-xxl: 7rem;    // 70px


$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 800;