@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;

.feature-cards {
    display: flex;
    column-gap: 3.1rem;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 3rem;




    .feature-card {
        background-color: #FFFFFF;
        border: 1px solid #DBE4E9;
        border-radius: 2rem;
        cursor: pointer;
        transition: transform 0.2s ease-in;
         &:hover {
            transform: scale(1.1);
        }

        &__number {


            @include text-style(2.2rem, $font-weight-bold, #000000);
            line-height: 100%;
            letter-spacing: 0%;
            padding: 2.1rem 0 0 2.2rem;
            
        }



        &__icon {
            width: 5rem;
            height: 4.5rem;
            margin: 4.4rem auto 3.4rem;
            display: block;
            text-align: center;
             @include media-query(1080px){
                margin: 3rem auto 2rem;
            }



        }

        &__info {
            padding: 0rem 6.5rem 4.5rem 4.5rem;
            @include media-query(1080px){
                 padding: 0rem 4rem 2.5rem 2.5rem;
            }

            
        }

        &__title {
            @include text-style(3rem, 800, #000000);
            line-height: 3.4rem;
            letter-spacing: -3%;
            text-align: center;
            max-width: 27.6rem;
            margin-bottom: 1.7rem;

            @include media-query(1080px){
                font-size: 2.4rem;
                line-height: 3rem;
            }
        }

        &__description {
            @include text-style(1.4rem, 400, #757095);
            line-height: 2.6rem;
            letter-spacing: -2%;

            text-align: center;
            max-width: 27rem;
            @include media-query(1080px){
                font-size: 1.2rem;
                line-height: 2rem;
            }
            
        }
    }
}