@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;




.stats {
  display: flex;
  background-color: #3734A9;
  color: #ffffff;
  position: relative;
  @include media-query(728px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  &__intro {
    max-width: 25rem;
    border-right: 2px solid #3D3D3D;
    @include media-query(728px){
      border-right: none
    }
   

  }

  &__title {
    @include text-style(1.9rem, 400, #FFFFFF);
    line-height: 3.1rem;
    letter-spacing: -1px;
    padding: 8.2rem 2.9rem 8.1rem 9rem;
    @include media-query(910px){
      padding: 4rem 2rem 4rem 5rem;
    }
        @include media-query(768px){
      padding: auto 3rem;
    }

  }

  &__data {

    display: flex;
    padding: 6.9rem 0 6.3rem;

@include media-query(910px){
   padding: 4rem 0;
}
   @include media-query(728px){
      padding: 0 0 3rem 0;
    }
    @include media-query(450px){
      flex-direction: column;
      row-gap: 3rem;
    }
  }

  &__item {
    @include media-query(1080px){
      margin-left: 6rem !important;
    }
    @include media-query(980px){
      margin-left: 4rem !important;
    }
    @include media-query(810px){
      margin-left: 2.5rem !important;
    }
    @include media-query(450px){
      text-align: center;
    }
    &--one {
      margin-left: 6.5rem;
    }

    &--two {
      margin-left: 12.6rem;
    }

    &--three {
      margin-left: 8.7rem;
    }
  }

  &__value {
    @include text-style(7.2rem, 800, #FFFFFF);
    line-height: 7.2rem;
    letter-spacing: -1px;

    @include media-query(1280px){
      font-size: 5rem;
      line-height: 5.5rem;
    }
    @include media-query(910px){
      font-size: 3.5rem;
      line-height: 4rem;
    }

  }

  &__label {
    display: flex;
    align-items: center;
    margin-top: 2.1rem;
    column-gap: 1.6rem;
    @include media-query(1280px){
      margin-top: 1.5rem;
      column-gap: 1.2rem;
    }
    @include media-query(450px){
      margin-top: 0.5rem;
      
    }

  }

  &__text {
    @include text-style(3rem, 400, #FFFFFF);
    line-height: 3.1rem;
    letter-spacing: -1px;
    @include media-query(1280px){
      font-size: 2rem;
    }
    @include media-query(910px)
{
  font-size: 1.6rem;
}  }

  &__icon {
    color: #c6e62f; // bright lime-green like the image
    font-size: 1.2rem;
  }
}

#pattern-9 {
  position: absolute;
  right: 0;
  top: 2rem;
  @include media-query(910px){
    top: 0;
    height: 10rem;
  }
  img{
    height: 100%;
  }
}