@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #FAFBFF;
}

.navbar {
  padding: 3.8rem 11.7rem 0 12.1rem;
}
@media (max-width: 1060px) {
  .navbar {
    padding: 3.8rem 8rem 0 6rem;
  }
}
@media (max-width: 996px) {
  .navbar {
    padding-right: 6rem;
  }
}
@media (max-width: 440px) {
  .navbar {
    padding-left: 2rem;
  }
}
.navbar__container {
  display: flex;
  justify-content: space-between;
}
.navbar__menu {
  display: flex;
  flex-direction: row;
  column-gap: 2.6rem;
  position: relative;
}
@media (max-width: 996px) {
  .navbar__menu {
    column-gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .navbar__menu {
    display: none;
  }
}
@media (max-width: 768px) {
  .navbar__actions {
    display: none;
  }
}
.navbar__item {
  position: relative;
}
.navbar__link {
  font-size: 1.4rem;
  font-weight: 400;
  color: #000000;
}
.navbar__link:hover {
  color: #5044d3;
}
@media (max-width: 768px) {
  .navbar__link {
    font-size: 2rem;
    padding-bottom: 1000rem;
  }
}
.navbar__link--signin:hover {
  color: #5044d3;
}
.navbar__link--signup {
  padding: 1.7rem 3.6rem;
  background-color: #4F46BA;
  color: #FFFFFF;
  margin-left: 5rem;
  cursor: pointer;
}
.navbar__link--signup:hover {
  background-color: #5044d3;
  color: #FFFFFF;
}
@media (max-width: 996px) {
  .navbar__link--signup {
    margin-left: 2.5rem;
    padding: 1.2rem 2.6rem;
  }
}
.navbar__link-icon {
  transform: translateY(-2px);
  margin-left: 0.4rem;
}
.navbar__dropdown {
  display: none;
  font-size: 1.4rem;
  position: absolute;
  top: 100%;
  left: 0;
}
.navbar__dropdown-item {
  margin: 1rem 0.3rem;
}
.navbar__item--dropdown:hover .navbar__dropdown {
  display: block;
}

.hamburger {
  position: absolute;
  right: 2rem;
  top: 3.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
  z-index: 50;
}
.hamburger span {
  display: none;
  transition: transform 0.3s, opacity 0.3s;
}
@media (max-width: 768px) {
  .hamburger span {
    display: block;
    height: 3px;
    background: #333;
    margin: 4px 0;
    width: 25px;
    opacity: 0.5;
  }
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(7.7px);
  position: absolute;
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translateY(-7.7px);
  position: absolute;
  color: red;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: -100%;
  width: 230px;
  height: 100vh;
  background: #fff;
  transition: left 0.3s ease;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  z-index: 100;
}
.mobile-menu a {
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 768px) {
  .mobile-menu.open {
    left: 0;
  }
}

.start {
  padding: 1.7rem 3.6rem;
  background-color: #4F46BA;
  color: #FFFFFF;
  text-align: center;
}

.backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
}

@media (max-width: 768px) {
  .backdrop.show {
    display: block;
  }
}

body.menu-open {
  overflow: hidden;
}

.hero__container {
  display: flex;
}
.hero__content {
  padding: 15.1rem 0 9.8rem 12.1rem;
}
@media (max-width: 1060px) {
  .hero__content {
    padding: 8rem 0 6rem 6rem;
  }
}
@media (max-width: 768px) {
  .hero__content {
    padding-top: 4rem;
  }
}
@media (max-width: 440px) {
  .hero__content {
    padding: 4rem 0 3rem 2rem;
  }
}
.hero__title {
  font-size: 6rem;
  font-weight: 800;
  color: #000000;
  line-height: 8rem;
  letter-spacing: -3%;
  width: 75rem;
}
@media (max-width: 1280px) {
  .hero__title {
    font-size: 5rem;
    line-height: 7rem;
    width: 65rem;
  }
}
@media (max-width: 1060px) {
  .hero__title {
    font-size: 4.5rem;
    line-height: 5.4rem;
    width: 55rem;
  }
}
@media (max-width: 996px) {
  .hero__title {
    font-size: 3.5rem;
    line-height: 4rem;
    width: 40rem;
  }
}
@media (max-width: 500px) {
  .hero__title {
    font-size: 2rem;
    line-height: 2.5rem;
    width: 30rem;
  }
}
@media (max-width: 440px) {
  .hero__title {
    width: 25rem;
  }
}
.hero__description {
  font-size: 2rem;
  font-weight: 400;
  color: #64607D;
  line-height: 3rem;
  letter-spacing: -2%;
  padding: 2.2rem 0 5.6rem;
  width: 51rem;
}
@media (max-width: 1060px) {
  .hero__description {
    font-size: 1.7rem;
    width: 40rem;
    padding: 2rem 0 4rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 996px) {
  .hero__description {
    font-size: 1.5rem;
    width: 35rem;
    padding: 1.5rem 0 2rem;
    line-height: 2rem;
  }
}
@media (max-width: 500px) {
  .hero__description {
    font-size: 1.1rem;
    padding: 1rem 0 1rem;
  }
}
@media (max-width: 440px) {
  .hero__description {
    width: 25rem;
  }
}
.hero__button {
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: -2%;
}
.hero__button--primary {
  font-size: 1.6rem;
  color: #FFFFFF;
  padding: 1.5rem 3.8rem;
  background-color: #3734A9;
  border-radius: 4.7rem;
  margin-right: 5rem;
}
@media (max-width: 1060px) {
  .hero__button--primary {
    padding: 1rem 2.4rem;
    margin-right: 2rem;
    font-size: 1.3rem;
  }
}
.hero__button--secondary {
  font-size: 1.7rem;
  font-weight: 400;
  color: #3734A9;
  line-height: 3rem;
  letter-spacing: -2%;
}
@media (max-width: 1060px) {
  .hero__button--secondary {
    font-size: 1.4rem;
  }
}
.hero__button--polygon {
  display: inline-block;
  background-color: #22D497;
  width: 6rem;
  height: 6rem;
  border-radius: 4.7rem;
  position: relative;
  padding: 1.8rem 1.7rem;
  margin-right: 1.1rem;
}
@media (max-width: 1060px) {
  .hero__button--polygon {
    width: 4rem;
    height: 4rem;
    padding: 0.9rem 1rem;
    margin-right: 0.7rem;
  }
}
.hero__button--polygon img {
  height: 1.8rem;
  width: 1.8rem;
  transform: translateX(40%);
}
@media (max-width: 1060px) {
  .hero__button--polygon img {
    height: 1.4rem;
    width: 1.4rem;
  }
}
.hero__checked {
  display: flex;
  column-gap: 2.4rem;
  margin-top: 5.3rem;
}
@media (max-width: 1060px) {
  .hero__checked {
    margin-top: 3.5rem;
    column-gap: 2.2rem;
  }
}
.hero__checked-item {
  display: flex;
  align-items: center;
  justify-items: center;
}
.hero__checked-rightTick {
  display: inline-block;
  height: 1.8rem;
  width: 1.8rem;
  padding: 0.2rem 0.5rem;
  border-radius: 50%;
  background-color: #3734A9;
  margin-right: 0.8rem;
}
.hero__checked-text {
  font-size: 1.7rem;
  font-weight: 400;
  color: #757095;
  line-height: 0.3rem;
  letter-spacing: -2%;
}
@media (max-width: 1060px) {
  .hero__checked-text {
    font-size: 1.4rem;
  }
}
.hero__image {
  width: 45.6rem;
  height: 76rem;
}
@media (max-width: 1280px) {
  .hero__image {
    width: 41rem;
  }
}
@media (max-width: 1060px) {
  .hero__image {
    width: 35rem;
    height: 60rem;
  }
}
@media (max-width: 850px) {
  .hero__image {
    width: 28rem;
    height: 50rem;
  }
}
@media (max-width: 768px) {
  .hero__image {
    display: none;
  }
}
.hero__image img {
  width: 100%;
  height: 100%;
}

#pattern1 {
  position: absolute;
  right: 0;
  top: 18.7rem;
}
@media (max-width: 500px) {
  #pattern1 {
    top: 10rem;
    right: -3rem;
  }
}
@media (max-width: 400px) {
  #pattern1 {
    display: none;
  }
}

#pattern2 {
  position: absolute;
  left: 0;
  bottom: 5.681rem;
}
@media (max-width: 850px) {
  #pattern2 {
    bottom: 3rem;
  }
}
@media (max-width: 768px) {
  #pattern2 {
    bottom: 2rem;
    left: -2rem;
  }
}
@media (max-width: 500px) {
  #pattern2 {
    bottom: 1rem;
    left: -5rem;
  }
}
@media (max-width: 400px) {
  #pattern2 {
    display: none;
  }
}

#pattern3 {
  position: absolute;
  right: 0;
  bottom: -16.5rem;
}
@media (max-width: 850px) {
  #pattern3 {
    right: -3rem;
  }
}
@media (max-width: 500px) {
  #pattern3 {
    right: -5rem;
    bottom: -20rem;
  }
}
@media (max-width: 400px) {
  #pattern3 {
    display: none;
  }
}

.main-content {
  background-color: #C9E7F2;
  overflow-y: hidden;
  position: relative;
}

.partners {
  background-color: #F5F6F8;
}
.partners__container {
  padding: 6.4rem 0 7.686rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 996px) {
  .partners__container {
    padding: 4rem 0 4rem;
  }
}
@media (max-width: 768px) {
  .partners__container {
    padding-bottom: 1rem;
  }
}
.partners__title {
  font-size: 2.2rem;
  font-weight: 500;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0%;
  margin-bottom: 3.6rem;
  transition: transform 0.2s ease-in;
}
.partners__title:hover {
  transform: skew(-15deg);
}
@media (max-width: 768px) {
  .partners__title {
    font-size: 1.7rem;
    margin-bottom: 2.8rem;
  }
}
@media (max-width: 480px) {
  .partners__title {
    padding: 0 2rem;
    line-height: 3rem;
    text-align: center;
  }
}
.partners__logos {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  column-gap: 4.956rem;
}
@media (max-width: 996px) {
  .partners__logos {
    grid-template-columns: repeat(5, 1fr);
  }
}
@media (max-width: 830px) {
  .partners__logos {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .partners__logos {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 500px) {
  .partners__logos {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 300px) {
  .partners__logos {
    grid-template-columns: repeat(1, 1fr);
  }
}
.partners__logo {
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.partners__logo:hover {
  transform: scale(1.2);
}
@media (max-width: 1280px) {
  .partners__logo {
    width: 10rem;
  }
}
@media (max-width: 1060px) {
  .partners__logo {
    width: 8rem;
  }
}
@media (max-width: 996px) {
  .partners__logo {
    width: 12rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 768px) {
  .partners__logo {
    margin-bottom: 3rem;
  }
}
@media (max-width: 500px) {
  .partners__logo {
    height: 2.5rem !important;
  }
}
@media (max-width: 300px) {
  .partners__logo {
    width: 10rem;
    height: 1.5rem !important;
  }
}
.partners__logo--1 {
  height: 2.136rem;
}
.partners__logo--2 {
  height: 1.783rem;
}
.partners__logo--3 {
  height: 2.833rem;
}
.partners__logo--4 {
  height: 2.101rem;
}
.partners__logo--5 {
  height: 2.496rem;
}
.partners__logo--6 {
  height: 2.807rem;
}
.partners__logo--7 {
  height: 3.214rem;
}

.portfolio__container {
  display: flex;
  padding: 7.1rem 15rem 7.1rem 11.9rem;
  column-gap: 20.9rem;
}
@media (max-width: 1280px) {
  .portfolio__container {
    column-gap: 2rem;
  }
}
@media (max-width: 1100px) {
  .portfolio__container {
    padding: 5rem 8rem;
  }
}
@media (max-width: 960px) {
  .portfolio__container {
    padding: 5rem 6rem;
  }
}
@media (max-width: 860px) {
  .portfolio__container {
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .portfolio__container {
    padding: 2rem 2rem;
  }
}
.portfolio__title {
  font-size: 5.6rem;
  font-weight: 800;
  color: #000000;
  line-height: 6.6rem;
  max-width: 56rem;
  margin-bottom: 1.9rem;
  transition: transform 0.2s ease-in;
}
.portfolio__title:hover {
  transform: skew(-10deg);
}
@media (max-width: 1060px) {
  .portfolio__title {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 860px) {
  .portfolio__title {
    text-align: center;
  }
}
@media (max-width: 600px) {
  .portfolio__title {
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
}
.portfolio__description {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  max-width: 44.9rem;
  transition: transform 0.2s ease-in;
}
.portfolio__description:hover {
  transform: skew(-10deg);
}
@media (max-width: 860px) {
  .portfolio__description {
    text-align: center;
    max-width: fit-content;
  }
}
.portfolio__review {
  padding: 3.8rem 3.4rem 3.3rem 3.4rem;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 2rem;
  max-width: 40.2rem;
  position: relative;
}
.portfolio__review-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1.8rem;
}
.portfolio__review-author {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}
.portfolio__backticks {
  position: absolute;
  top: -1.8rem;
  padding: 1rem 1rem;
  border-radius: 50%;
  background-color: #000000;
}

.feature-cards {
  display: flex;
  column-gap: 3.1rem;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 3rem;
}
.feature-cards .feature-card {
  background-color: #FFFFFF;
  border: 1px solid #DBE4E9;
  border-radius: 2rem;
  cursor: pointer;
  transition: transform 0.2s ease-in;
}
.feature-cards .feature-card:hover {
  transform: scale(1.1);
}
.feature-cards .feature-card__number {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000000;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 2.1rem 0 0 2.2rem;
}
.feature-cards .feature-card__icon {
  width: 5rem;
  height: 4.5rem;
  margin: 4.4rem auto 3.4rem;
  display: block;
  text-align: center;
}
@media (max-width: 1080px) {
  .feature-cards .feature-card__icon {
    margin: 3rem auto 2rem;
  }
}
.feature-cards .feature-card__info {
  padding: 0rem 6.5rem 4.5rem 4.5rem;
}
@media (max-width: 1080px) {
  .feature-cards .feature-card__info {
    padding: 0rem 4rem 2.5rem 2.5rem;
  }
}
.feature-cards .feature-card__title {
  font-size: 3rem;
  font-weight: 800;
  color: #000000;
  line-height: 3.4rem;
  letter-spacing: -3%;
  text-align: center;
  max-width: 27.6rem;
  margin-bottom: 1.7rem;
}
@media (max-width: 1080px) {
  .feature-cards .feature-card__title {
    font-size: 2.4rem;
    line-height: 3rem;
  }
}
.feature-cards .feature-card__description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #757095;
  line-height: 2.6rem;
  letter-spacing: -2%;
  text-align: center;
  max-width: 27rem;
}
@media (max-width: 1080px) {
  .feature-cards .feature-card__description {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}

.payment {
  display: flex;
  column-gap: 14.5rem;
  justify-content: center;
  padding-top: 11.9rem;
}
@media (max-width: 1280px) {
  .payment {
    padding: 11rem 8rem;
  }
}
@media (max-width: 1020px) {
  .payment {
    column-gap: 10rem;
  }
}
@media (max-width: 960px) {
  .payment {
    column-gap: 7rem;
  }
}
@media (max-width: 830px) {
  .payment {
    padding: 8rem 4rem;
  }
}
@media (max-width: 768px) {
  .payment {
    flex-direction: column;
    row-gap: 4rem;
  }
}
.payment__transactions {
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
  width: 53.1rem;
  background-color: #DBF1FA;
  position: relative;
  border-radius: 2rem;
}
@media (max-width: 768px) {
  .payment__transactions {
    width: 100%;
  }
}

.transaction {
  display: flex;
  align-items: center;
  column-gap: 1.4rem;
  max-width: 43.3rem;
  background-color: #FFFFFF;
  padding: 1.6rem 0 1.5rem 1.9rem;
  border-radius: 1rem;
  box-shadow: 0px 100px 80px 0px rgba(0, 0, 0, 0.031372549);
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.transaction:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  .transaction {
    max-width: 90%;
  }
}
@media (max-width: 680px) {
  .transaction {
    padding: 1.3rem 0 1rem 1rem;
  }
}
.transaction img {
  width: 5.4rem;
  height: 5.4rem;
  transform: translateY(-10%);
}
.transaction--first {
  position: relative;
  margin-top: 4.1rem;
  left: 6.4rem;
  z-index: 100;
}
@media (max-width: 1280px) {
  .transaction--first {
    left: 3rem;
  }
}
.transaction--second {
  position: relative;
  left: 17rem;
  z-index: 100;
}
@media (max-width: 1280px) {
  .transaction--second {
    left: 11rem;
  }
}
@media (max-width: 1020px) {
  .transaction--second {
    left: 5rem;
  }
}
.transaction--third {
  position: relative;
  left: 13.2rem;
  z-index: 100;
}
@media (max-width: 1280px) {
  .transaction--third {
    left: 8rem;
  }
}
@media (max-width: 1020px) {
  .transaction--third {
    left: 4.5rem;
  }
}
.transaction--fourth {
  position: relative;
  left: 4.7rem;
  margin-bottom: 2.4rem;
  z-index: 100;
}
@media (max-width: 1280px) {
  .transaction--fourth {
    left: 2rem;
  }
}
.transaction__amount {
  padding: 0.8rem 1rem 0.4rem 1.1rem;
  font-size: 1.5rem;
  font-weight: 700;
  color: #3734A9;
  line-height: 1.4rem;
  letter-spacing: -1px;
  background-color: rgba(219, 228, 233, 0.7);
  border-radius: 3rem;
  display: inline-block;
}
.transaction__description {
  font-size: 1.4rem;
  font-weight: 400;
  color: #757095;
  line-height: 3rem;
  letter-spacing: -2%;
  margin-top: 0.4rem;
}
.transaction__subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3734A9;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.transaction__title {
  font-size: 5rem;
  font-weight: 800;
  color: #000000;
  line-height: 6rem;
  letter-spacing: -3%;
  max-width: 54rem;
  margin: 1.3rem 0 2.9rem;
}
@media (max-width: 1280px) {
  .transaction__title {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 1060px) {
  .transaction__title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: 1rem 0 2.9rem;
  }
}
@media (max-width: 768px) {
  .transaction__title {
    max-width: 100%;
  }
}
@media (max-width: 680px) {
  .transaction__title {
    font-size: 2.4rem;
    line-height: 2.5rem;
    margin: 1.5rem 0 1rem;
  }
}
.transaction__text {
  font-size: 1.8rem;
  font-weight: 400;
  color: #505887;
  line-height: 3rem;
  letter-spacing: -2%;
  max-width: 45.6rem;
}
@media (max-width: 1060px) {
  .transaction__text {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}
@media (max-width: 680px) {
  .transaction__text {
    font-size: 1.4rem;
  }
}
.transaction__divider {
  border: 1px solid #C4C4C4;
  margin: 2.3rem 0 2.7rem;
  max-width: 53rem;
}
@media (max-width: 680px) {
  .transaction__divider {
    margin: 1.5rem 0 1.5rem;
  }
}
.transaction__benefit {
  margin-bottom: 1.3rem;
  display: flex;
  align-items: center;
}
.transaction__benefit-rightTick {
  display: inline-block;
  width: 2.4rem;
  height: 2.4rem;
  background-color: #FDBC64;
  padding: 0.4rem 0.8rem;
  border-radius: 50%;
  margin-right: 1.1rem;
}
.transaction__benefit-rightTick img {
  width: 0.8rem;
  height: 0.6rem;
}
.transaction__benefit-text {
  font-size: 1.9rem;
  font-weight: 400;
  color: #505887;
  line-height: 3rem;
  letter-spacing: -2%;
}
@media (max-width: 680px) {
  .transaction__benefit-text {
    font-size: 1.4rem;
  }
}

#pattern-4 {
  position: absolute;
  left: 0;
  top: 0;
}

#pattern-5 {
  position: absolute;
  right: -3rem;
  top: -2rem;
  z-index: 100;
}

#pattern-6 {
  position: absolute;
  right: 0;
  top: 27%;
}

#pattern-7 {
  position: absolute;
  left: 0;
  bottom: 0;
}

.saving {
  padding: 18rem 14.8rem 9.6rem 12.1rem;
  display: flex;
  column-gap: 20.6rem;
}
@media (max-width: 1358px) {
  .saving {
    padding: 18rem 10rem 9.6rem;
    column-gap: 15rem;
  }
}
@media (max-width: 1280px) {
  .saving {
    padding: 12rem 10rem 9.6rem;
    column-gap: 10rem;
  }
}
@media (max-width: 1024px) {
  .saving {
    column-gap: 10rem;
    padding: 2rem 6rem;
  }
}
@media (max-width: 768px) {
  .saving {
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }
}
@media (max-width: 768px) {
  .saving__content {
    display: flex;
    flex-direction: column;
  }
}
.saving__subtitle {
  font-size: 1.4rem;
  font-weight: 700;
  color: #3734A9;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.saving__title {
  font-size: 5rem;
  font-weight: 800;
  color: #000000;
  line-height: 6rem;
  letter-spacing: -3%;
  max-width: 54rem;
  margin: 1.3rem 0 2.9rem;
}
@media (max-width: 1280px) {
  .saving__title {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 1060px) {
  .saving__title {
    font-size: 3.5rem;
    line-height: 4.5rem;
    margin: 1rem 0 2.9rem;
  }
}
@media (max-width: 768px) {
  .saving__title {
    max-width: 100%;
  }
}
@media (max-width: 680px) {
  .saving__title {
    font-size: 2.4rem;
    line-height: 2.5rem;
    margin: 1.5rem 0 1rem;
  }
}
.saving__description {
  font-size: 1.8rem;
  font-weight: 400;
  color: #505887;
  line-height: 3rem;
  letter-spacing: -0.02rem;
  max-width: 42.1rem;
}
@media (max-width: 1060px) {
  .saving__description {
    font-size: 1.6rem;
    line-height: 2.3rem;
  }
}
@media (max-width: 680px) {
  .saving__description {
    font-size: 1.4rem;
  }
}
.saving__review {
  padding: 3.8rem 1.9rem 3.3rem 3.4rem;
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 2rem;
  max-width: 47.9rem;
  position: relative;
  margin-top: 5.5rem;
}
@media (max-width: 768px) {
  .saving__review {
    align-self: center;
  }
}
.saving__review-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
  margin-bottom: 1.8rem;
  letter-spacing: -0.02rem;
}
.saving__review-author {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000000;
}
.saving__backticks {
  position: absolute;
  top: -1.8rem;
  padding: 1rem 1rem;
  border-radius: 50%;
  background-color: #000000;
}
.saving__visual {
  background-color: #DBF1FA;
  border-radius: 1rem;
  width: 100%;
  max-width: 48.6rem;
  display: flex;
  align-items: flex-end;
  position: relative;
}
@media (max-width: 600px) {
  .saving__visual {
    padding: 4rem 0;
  }
}
@media (max-width: 395px) {
  .saving__visual {
    background-color: transparent;
  }
}
.saving__card {
  height: 63rem;
  display: flex;
  align-items: flex-end;
  position: absolute;
  top: -13.6rem;
  left: -3rem;
}
@media (max-width: 1280px) {
  .saving__card {
    position: static;
    height: 55rem;
  }
}
@media (max-width: 1080px) {
  .saving__card {
    height: 47rem;
  }
}
@media (max-width: 996px) {
  .saving__card {
    height: 40rem;
  }
}
@media (max-width: 600px) {
  .saving__card {
    display: none;
  }
}
.saving__card img {
  max-height: 100%;
  object-fit: contain;
}
.saving__balance {
  position: absolute;
  background-color: #FFFFFF;
  left: -13rem;
  bottom: 5rem;
  z-index: 100;
  max-width: 33.7rem;
  padding: 2.3rem 2.7rem 2.3rem 1.9rem;
  border-radius: 1rem;
  box-shadow: 0px 89.89px 64.98px 0px rgba(0, 0, 0, 0.0235294118);
}
@media (max-width: 1280px) {
  .saving__balance {
    left: -5rem;
  }
}
@media (max-width: 768px) {
  .saving__balance {
    left: 8rem;
  }
}
@media (max-width: 600px) {
  .saving__balance {
    position: static;
    margin: 0 auto;
  }
}
.saving__balance-title {
  font-size: 1.975rem;
  font-weight: 500;
  color: #000000;
  line-height: 100%;
  margin-bottom: 0.767rem;
}
.saving__balance-amount {
  font-size: 2.219rem;
  font-weight: 700;
  color: #000000;
  line-height: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1.1rem;
}
.saving__balance-amount span {
  font-size: 1.803rem;
  font-weight: 400;
  color: #00E1F0;
  line-height: 100%;
}

#pattern-12 {
  position: absolute;
  top: 5rem;
  left: -4.5rem;
}
@media (max-width: 600px) {
  #pattern-12 {
    display: none;
  }
}

.chart {
  display: flex;
  column-gap: 5.55px;
}

.base {
  display: grid;
  grid-template-columns: 27.74px 27.74px 27.74px 27.74px 27.74px 27.74px 27.74px 27.74px 27.74px;
  column-gap: 5.55px;
  text-align: center;
}
@media (max-width: 480px) {
  .base {
    grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px 20px;
  }
}

.base > div:first-child {
  visibility: hidden;
}

.base > div {
  color: #718EBF;
  font-size: 11.09px;
  margin-top: 3px;
  font-weight: 600;
}

.vertical {
  display: flex;
  flex-direction: column;
  row-gap: 12.35px;
  font-size: 11px;
  font-weight: 600;
  color: #718EBF;
}

.vertical div {
  width: 27.74px;
}
@media (max-width: 480px) {
  .vertical div {
    width: 20px;
  }
}

.data {
  display: flex;
  align-items: end;
  column-gap: 5.55px;
}

.days {
  width: 27.74px;
  background-color: #E8F2FF;
  border-radius: 4.16px 4.16px 0 0;
}
@media (max-width: 480px) {
  .days {
    width: 20px;
  }
}

#sunday {
  height: 16.64px;
}

#monday {
  height: 24.96px;
}

#tuesday {
  height: 58.25px;
}

#wednesday {
  height: 42.99px;
  background-color: #3734A9;
}

#thursday {
  height: 81.82px;
  background-color: #3734A9;
}

#friday {
  height: 16.64px;
}

#saturday {
  height: 42.99px;
  background-color: #3734A9;
}

#sunday-again {
  height: 63.79px;
  background-color: #3734A9;
}

.highlights {
  background-color: #C9E7F2;
  position: relative;
}
.highlights__container {
  padding: 14.6rem 11.7rem 13.7rem 11.9rem;
}
@media (max-width: 1170px) {
  .highlights__container {
    padding: 12rem 8rem;
  }
}
@media (max-width: 768px) {
  .highlights__container {
    padding: 8rem 5rem;
  }
}
@media (max-width: 600px) {
  .highlights__container {
    padding: 4rem 2rem;
  }
}
.highlights__title {
  font-size: 7.1rem;
  font-weight: 800;
  color: #000000;
  line-height: 6.6rem;
  letter-spacing: -3%;
}
@media (max-width: 1224px) {
  .highlights__title {
    font-size: 6rem;
  }
}
@media (max-width: 1090px) {
  .highlights__title {
    font-size: 4.5rem;
    line-height: 5rem;
  }
}
@media (max-width: 768px) {
  .highlights__title {
    font-size: 3rem;
    line-height: 4rem;
  }
}
@media (max-width: 600px) {
  .highlights__title {
    font-size: 2.2rem;
    line-height: 3rem;
  }
}
.highlights__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  line-height: 2.9rem;
  letter-spacing: -2%;
  max-width: 55.7rem;
  margin: 3.7rem 0 5.1rem;
}
@media (max-width: 1224px) {
  .highlights__subtitle {
    margin: 3rem 0 4rem;
  }
}
@media (max-width: 1090px) {
  .highlights__subtitle {
    margin: 2rem 0 3rem;
  }
}
@media (max-width: 768px) {
  .highlights__subtitle {
    margin: 1rem 0 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
@media (max-width: 600px) {
  .highlights__subtitle {
    font-size: 1rem;
  }
}
.highlights__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
}
@media (max-width: 1096px) {
  .highlights__grid {
    column-gap: 1rem;
  }
}
@media (max-width: 920px) {
  .highlights__grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1rem;
  }
}
@media (max-width: 600px) {
  .highlights__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
.highlights__card {
  background-color: #FFFFFF;
  border-radius: 1rem;
  border: 1px solid #ABC8D2;
  padding-left: 3.1rem;
  padding-bottom: 4.3rem;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.highlights__card:hover {
  transform: scale(1.1);
}
@media (max-width: 1090px) {
  .highlights__card {
    padding-bottom: 2rem;
  }
}
.highlights__card-stack {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}
@media (max-width: 920px) {
  .highlights__card-stack {
    gap: 1rem;
  }
}
.highlights__card-icon {
  margin: 5.3rem 0 3.3rem;
}
@media (max-width: 1170px) {
  .highlights__card-icon {
    margin: 4rem 0 2rem;
  }
}
@media (max-width: 1090px) {
  .highlights__card-icon {
    margin: 2rem 0 1.5rem;
  }
}
.highlights__card-icon img {
  width: 5.528rem;
  height: 4.5rem;
}
.highlights__card-title {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000000;
  line-height: 3.5rem;
  padding-right: 4.36rem;
}
@media (max-width: 1090px) {
  .highlights__card-title {
    font-size: 1.8rem;
    padding-right: 2rem;
  }
}
.highlights__card-description {
  font-size: 1.5rem;
  font-weight: 400;
  color: #000000;
  line-height: 2.6rem;
  margin-top: 1.6rem;
  padding-right: 5.049rem;
}
@media (max-width: 1224px) {
  .highlights__card-description {
    padding-right: 3rem;
  }
}
@media (max-width: 1090px) {
  .highlights__card-description {
    padding-right: 2rem;
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
.highlights__card--text-only {
  padding: 4.2rem 0 4.1rem 3.1rem;
}
@media (max-width: 960px) {
  .highlights__card--text-only {
    padding: 2rem;
  }
}

#pattern-8 {
  position: absolute;
  bottom: 9.738rem;
}
@media (max-width: 1170px) {
  #pattern-8 {
    left: -4rem;
  }
}
@media (max-width: 600px) {
  #pattern-8 {
    display: none;
  }
}

.testimonials__container {
  padding: 15rem 0 15rem 11.9rem;
  overflow-x: hidden;
}
@media (max-width: 1090px) {
  .testimonials__container {
    padding: 10rem 0 10rem 6rem;
  }
}
@media (max-width: 600px) {
  .testimonials__container {
    padding: 5rem 0 5rem 4rem;
  }
}
.testimonials__header {
  display: flex;
  justify-content: space-between;
  padding-right: 17.308rem;
}
@media (max-width: 1260px) {
  .testimonials__header {
    padding-right: 10rem;
  }
}
@media (max-width: 1090px) {
  .testimonials__header {
    padding-right: 5rem;
  }
}
.testimonials__title {
  font-size: 7.1rem;
  font-weight: 800;
  color: #000000;
  line-height: 6.6rem;
  letter-spacing: -2px;
}
@media (max-width: 1260px) {
  .testimonials__title {
    font-size: 5.2rem;
  }
}
@media (max-width: 768px) {
  .testimonials__title {
    font-size: 3rem;
  }
}
.testimonials__subtitle {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  max-width: 57rem;
  margin: 3.7rem 0 7.4rem;
}
@media (max-width: 1260px) {
  .testimonials__subtitle {
    margin: 2rem 0 5rem;
    font-size: 1.4rem;
  }
}
@media (max-width: 768px) {
  .testimonials__subtitle {
    font-size: 1.3rem;
    margin: 0.8rem 0 3rem;
  }
}
.testimonials__wave {
  width: 19rem;
  height: 12rem;
  transform: translateY(10%);
}
@media (max-width: 1260px) {
  .testimonials__wave {
    width: 15rem;
    height: 8rem;
  }
}
@media (max-width: 1090px) {
  .testimonials__wave {
    width: 11rem;
    height: 6rem;
  }
}
.testimonials__wave img {
  width: 100%;
  height: 100%;
}
.testimonials__list {
  display: flex;
  column-gap: 4.1rem;
  transition: transform 0.5s ease-in-out;
}
.testimonials__card {
  border: 1px solid #CFCFCF;
  border-radius: 1rem;
  position: relative;
  display: flex;
  column-gap: 2.6rem;
  flex: 0 0 69.9rem;
  transition: transform 0.3s ease-in;
  cursor: pointer;
}
.testimonials__card:hover {
  transform: scale(1.1);
}
@media (max-width: 1260px) {
  .testimonials__card {
    flex: 0 0 60rem;
  }
}
@media (max-width: 768px) {
  .testimonials__card {
    flex: 0 0 40rem;
  }
}
@media (max-width: 600px) {
  .testimonials__card {
    flex: 0 0 35rem;
  }
}
.testimonials__card-image {
  width: 24rem;
  height: 35rem;
  margin: 2.4rem 2.5rem 2.6rem 0;
}
@media (max-width: 1260px) {
  .testimonials__card-image {
    width: 20rem;
    height: 30rem;
  }
}
@media (max-width: 768px) {
  .testimonials__card-image {
    height: 20rem;
  }
}
@media (max-width: 600px) {
  .testimonials__card-image {
    height: 15rem;
  }
}
.testimonials__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.testimonials__card-icon {
  position: absolute;
  top: -1.8rem;
  left: 2rem;
  padding: 1rem 1rem;
  border-radius: 50%;
  background-color: #000000;
}
.testimonials__card-content {
  padding: 7.7rem 0 8rem 4rem;
}
@media (max-width: 1260px) {
  .testimonials__card-content {
    padding: 5rem 0 5rem 2rem;
  }
}
@media (max-width: 768px) {
  .testimonials__card-content {
    padding: 3rem 0 0rem 2rem;
  }
}
@media (max-width: 600px) {
  .testimonials__card-content {
    padding-bottom: 2rem;
  }
}
.testimonials__card-text {
  font-size: 2.5rem;
  font-weight: 600;
  color: #000000;
  line-height: 3.6rem;
  letter-spacing: -1px;
  max-width: 36.8rem;
}
@media (max-width: 1260px) {
  .testimonials__card-text {
    font-size: 1.8rem;
    letter-spacing: -1px;
    line-height: 3rem;
  }
}
@media (max-width: 768px) {
  .testimonials__card-text {
    font-size: 1.4rem;
    letter-spacing: 0px;
    line-height: 2rem;
  }
}
.testimonials__card-author {
  font-size: 2rem;
  font-weight: 600;
  color: #000000;
  line-height: 2.2rem;
  margin-top: 4.1rem;
}
@media (max-width: 1260px) {
  .testimonials__card-author {
    font-size: 1.6rem;
  }
}
@media (max-width: 600px) {
  .testimonials__card-author {
    margin-top: 1rem;
    font-size: 1rem;
  }
}
.testimonials__slider {
  display: flex;
  justify-content: center;
  column-gap: 1rem;
  margin-top: 2rem;
}
.testimonials__slider-btn {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  cursor: pointer;
}
.testimonials__slider-btn.active {
  background-color: #C9E7F2;
}

.stats {
  display: flex;
  background-color: #3734A9;
  color: #ffffff;
  position: relative;
}
@media (max-width: 728px) {
  .stats {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.stats__intro {
  max-width: 25rem;
  border-right: 2px solid #3D3D3D;
}
@media (max-width: 728px) {
  .stats__intro {
    border-right: none;
  }
}
.stats__title {
  font-size: 1.9rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 3.1rem;
  letter-spacing: -1px;
  padding: 8.2rem 2.9rem 8.1rem 9rem;
}
@media (max-width: 910px) {
  .stats__title {
    padding: 4rem 2rem 4rem 5rem;
  }
}
@media (max-width: 768px) {
  .stats__title {
    padding: auto 3rem;
  }
}
.stats__data {
  display: flex;
  padding: 6.9rem 0 6.3rem;
}
@media (max-width: 910px) {
  .stats__data {
    padding: 4rem 0;
  }
}
@media (max-width: 728px) {
  .stats__data {
    padding: 0 0 3rem 0;
  }
}
@media (max-width: 450px) {
  .stats__data {
    flex-direction: column;
    row-gap: 3rem;
  }
}
@media (max-width: 1080px) {
  .stats__item {
    margin-left: 6rem !important;
  }
}
@media (max-width: 980px) {
  .stats__item {
    margin-left: 4rem !important;
  }
}
@media (max-width: 810px) {
  .stats__item {
    margin-left: 2.5rem !important;
  }
}
@media (max-width: 450px) {
  .stats__item {
    text-align: center;
  }
}
.stats__item--one {
  margin-left: 6.5rem;
}
.stats__item--two {
  margin-left: 12.6rem;
}
.stats__item--three {
  margin-left: 8.7rem;
}
.stats__value {
  font-size: 7.2rem;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 7.2rem;
  letter-spacing: -1px;
}
@media (max-width: 1280px) {
  .stats__value {
    font-size: 5rem;
    line-height: 5.5rem;
  }
}
@media (max-width: 910px) {
  .stats__value {
    font-size: 3.5rem;
    line-height: 4rem;
  }
}
.stats__label {
  display: flex;
  align-items: center;
  margin-top: 2.1rem;
  column-gap: 1.6rem;
}
@media (max-width: 1280px) {
  .stats__label {
    margin-top: 1.5rem;
    column-gap: 1.2rem;
  }
}
@media (max-width: 450px) {
  .stats__label {
    margin-top: 0.5rem;
  }
}
.stats__text {
  font-size: 3rem;
  font-weight: 400;
  color: #FFFFFF;
  line-height: 3.1rem;
  letter-spacing: -1px;
}
@media (max-width: 1280px) {
  .stats__text {
    font-size: 2rem;
  }
}
@media (max-width: 910px) {
  .stats__text {
    font-size: 1.6rem;
  }
}
.stats__icon {
  color: #c6e62f;
  font-size: 1.2rem;
}

#pattern-9 {
  position: absolute;
  right: 0;
  top: 2rem;
}
@media (max-width: 910px) {
  #pattern-9 {
    top: 0;
    height: 10rem;
  }
}
#pattern-9 img {
  height: 100%;
}

.blogs__container {
  padding: 14.7rem 11.8rem 15rem 11.9rem;
}
@media (max-width: 1280px) {
  .blogs__container {
    padding: 10rem 8rem;
  }
}
@media (max-width: 996px) {
  .blogs__container {
    padding: 7rem 5rem;
  }
}
@media (max-width: 700px) {
  .blogs__container {
    padding: 4rem 2rem;
  }
}
.blogs__heading {
  font-size: 7.1rem;
  font-weight: 800;
  color: #000000;
  line-height: 6.6rem;
  letter-spacing: -0.02rem;
  margin-bottom: 7.2rem;
}
@media (max-width: 1280px) {
  .blogs__heading {
    font-size: 5rem;
    margin-bottom: 6rem;
  }
}
@media (max-width: 996px) {
  .blogs__heading {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 700px) {
  .blogs__heading {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
.blogs__featured {
  display: flex;
  column-gap: 14.8rem;
  background-color: #FFFFFF;
  padding-left: 2.8rem;
  margin-bottom: 2.9rem;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.blogs__featured:hover {
  transform: scale(1.1);
}
@media (max-width: 1120px) {
  .blogs__featured {
    column-gap: 10rem;
  }
}
@media (max-width: 850px) {
  .blogs__featured {
    column-gap: 6rem;
  }
}
@media (max-width: 620px) {
  .blogs__featured {
    flex-direction: column;
  }
}
@media (max-width: 620px) {
  .blogs__featured {
    padding: 0rem;
  }
}
@media (max-width: 620px) {
  .blogs__content {
    padding-left: 2.5rem;
  }
}
.blogs__category {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 700;
  color: #000000;
  line-height: 3.6rem;
  text-transform: uppercase;
  margin: 3.4rem 0 0.7rem;
}
@media (max-width: 1280px) {
  .blogs__category {
    font-size: 1.2rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 700px) {
  .blogs__category {
    margin: 1.5rem 0 0.7rem;
  }
}
.blogs__title {
  font-size: 2.9rem;
  font-weight: 700;
  color: #000000;
  line-height: 3.6rem;
  letter-spacing: -0.02rem;
  max-width: 52.4rem;
}
@media (max-width: 1280px) {
  .blogs__title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
@media (max-width: 620px) {
  .blogs__title {
    margin-bottom: 2.5rem;
  }
}
.blogs__image {
  max-width: 50rem;
}
@media (max-width: 620px) {
  .blogs__image {
    height: 20.2rem;
  }
}
.blogs__image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.blogs__readmore {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: 600;
  color: #1B1C31;
  line-height: 1.6rem;
  margin-top: 6.8rem;
  text-align: center;
}
@media (max-width: 860px) {
  .blogs__readmore {
    font-size: 1.4rem;
    margin-top: 3rem;
  }
}
@media (max-width: 620px) {
  .blogs__readmore {
    display: none;
  }
}
.blogs__grid {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 2.8rem;
}
@media (max-width: 996px) {
  .blogs__grid {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 620px) {
  .blogs__grid {
    grid-template-columns: auto;
    row-gap: 3rem;
  }
}
.blogs__card {
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  height: 100%;
  transition: transform 0.2s ease-in;
  cursor: pointer;
}
.blogs__card:hover {
  transform: scale(1.1);
}
.blogs__card-content {
  padding: 0 4rem 5.8rem 3.2rem;
  flex-grow: 1;
}
@media (max-width: 640px) {
  .blogs__card-content {
    padding: 0 2rem 2.5rem 1.5rem;
  }
}
.blogs__card-title {
  font-size: 2.9rem;
  font-weight: 700;
  color: #000000;
  line-height: 3.6rem;
  letter-spacing: -0.02rem;
  max-width: 31rem;
}
@media (max-width: 1280px) {
  .blogs__card-title {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
.blogs__card-image {
  height: 20.2rem;
}
.blogs__card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.faq {
  position: relative;
  padding: 0 11.7rem 15rem 11.9rem;
}
@media (max-width: 1160px) {
  .faq {
    padding: 0 5rem 10rem 5rem;
  }
}
.faq__content {
  display: flex;
  column-gap: 4.8rem;
}
@media (max-width: 996px) {
  .faq__content {
    column-gap: 1.5rem;
  }
}
@media (max-width: 768px) {
  .faq__content {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
  }
}
.faq__list {
  width: 100%;
  max-width: 75.1rem;
}
.faq__title {
  font-size: 7.1rem;
  font-weight: 800;
  color: #000000;
  max-width: 58rem;
  letter-spacing: -0.02rem;
  margin-bottom: 7.1rem;
  line-height: 7.6rem;
}
@media (max-width: 1280px) {
  .faq__title {
    font-size: 5rem;
    margin-bottom: 6rem;
  }
}
@media (max-width: 996px) {
  .faq__title {
    font-size: 3.5rem;
    margin-bottom: 3rem;
  }
}
@media (max-width: 700px) {
  .faq__title {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
}
.faq__item {
  display: block;
  border: 1px solid #CFCFCF;
  border-radius: 1rem;
  padding: 2.5rem 2.7rem 0rem 2.3rem;
  background-color: #FFFFFF;
  overflow: hidden;
}
.faq__item:not(:last-child) {
  margin-bottom: 1.5rem;
}
.faq__item.active .faq__answer {
  max-height: 50rem;
  opacity: 1;
  padding-bottom: 2.4rem;
}
.faq__question {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000000;
  line-height: 2.2rem;
  margin-bottom: 2.3rem;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .faq__question {
    font-size: 1.6rem;
    margin-bottom: 1.3rem;
  }
}
.faq__answer {
  font-size: 1.6rem;
  font-weight: 400;
  color: #000000;
  line-height: 3.1rem;
  letter-spacing: -0.02rem;
  max-width: 64.4rem;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.4s ease;
}
@media (max-width: 1024px) {
  .faq__answer {
    font-size: 1.2rem;
    line-height: 2rem;
  }
}
.faq__contact {
  padding: 3.2rem;
  background-color: #FFFFFF;
  border: 1px solid #CFCFCF;
  border-radius: 1rem;
  width: 100%;
  max-width: 40.1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.faq__contact-title {
  font-size: 2.2rem;
  font-weight: 800;
  color: #000000;
  margin: 4.3rem 0 2.3rem;
  line-height: 2.2rem;
}
.faq__contact-description {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  line-height: 3.1rem;
  letter-spacing: -0.02rem;
  max-width: 33.3rem;
  text-align: center;
}
.faq__contact-button {
  font-size: 1.6rem;
  font-weight: 600;
  color: #FFFFFF;
  line-height: 3.1rem;
  padding: 2.2rem 0;
  text-align: center;
  width: 100%;
  background-color: #FF7F5C;
  letter-spacing: -0.02rem;
  margin-top: auto;
}

#pattern-10 {
  position: absolute;
  top: 10rem;
  left: 0;
}

#pattern-11 {
  position: absolute;
  top: 0;
  right: 0;
}
@media (max-width: 996px) {
  #pattern-11 {
    top: -8rem;
  }
}
@media (max-width: 620px) {
  #pattern-11 {
    display: none;
  }
}

.get__started {
  padding: 0 11.7rem 0 12.3rem;
}
@media (max-width: 996px) {
  .get__started {
    padding: 0 6rem;
  }
}
@media (max-width: 768px) {
  .get__started {
    padding: 0 3rem;
  }
}
.get__started-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #3734A9;
  padding: 10.8rem 0 10rem 0;
  border-radius: 1rem;
}
.get__started-title {
  font-size: 5.6rem;
  font-weight: 800;
  color: #FFFFFF;
  line-height: 6.1rem;
  max-width: 76.3rem;
  text-align: center;
  position: relative;
  z-index: 100;
}
@media (max-width: 1280px) {
  .get__started-title {
    font-size: 4rem;
    line-height: 5rem;
  }
}
@media (max-width: 996px) {
  .get__started-title {
    font-size: 3rem;
    line-height: 4rem;
  }
}
.get__started-btn {
  position: relative;
  z-index: 100;
  padding: 1.8rem 4.2rem;
  background-color: #FF7F5C;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  color: #FFFFFF;
  line-height: 3rem;
  letter-spacing: -0.02rem;
  margin-top: 4.1rem;
}
@media (max-width: 1280px) {
  .get__started-btn {
    padding: 1.2rem 2.2rem;
  }
}

#pattern-13 {
  position: absolute;
  top: 6rem;
  left: 17.5rem;
}
@media (max-width: 768px) {
  #pattern-13 {
    display: none;
  }
}

#pattern-14 {
  position: absolute;
  top: 5rem;
  right: 11.8rem;
}

#pattern-15 {
  position: absolute;
  left: 10.8rem;
  bottom: 4.3rem;
}

#pattern-16 {
  position: absolute;
  bottom: 12.2rem;
  left: 23rem;
}
@media (max-width: 1280px) {
  #pattern-16 {
    bottom: 8rem;
    left: 18rem;
  }
}
@media (max-width: 600px) {
  #pattern-16 {
    display: none;
  }
}

#pattern-17 {
  position: absolute;
  bottom: 5.3rem;
  right: 3.6rem;
}

.footer {
  padding: 15rem 11.7rem 5.8rem 12.1rem;
}
@media (max-width: 996px) {
  .footer {
    padding-top: 8rem;
  }
}
@media (max-width: 768px) {
  .footer {
    padding: 5rem 5rem;
  }
}
.footer__container {
  display: flex;
  justify-content: space-between;
  row-gap: 4rem;
  flex-wrap: wrap;
}
.footer__column {
  min-width: 21rem;
}
.footer__logo {
  font-size: 2.1rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1.8rem;
  letter-spacing: -0.02rem;
}
.footer__heading {
  font-size: 2.1rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 1.8rem;
  letter-spacing: -0.02rem;
}
.footer__description {
  font-size: 1.6rem;
  font-weight: 500;
  color: #757095;
  line-height: 2.8rem;
  letter-spacing: -0.02rem;
  margin-bottom: 3.2rem;
}
.footer__socials {
  display: flex;
  column-gap: 1.6rem;
}
.footer__item {
  font-size: 1.6rem;
  font-weight: 500;
  color: #181433;
  line-height: 2.4rem;
  letter-spacing: -0.02rem;
}
.footer__list-company li {
  margin-bottom: 1.8rem;
}
.footer__list-resources li {
  margin-bottom: 1.2rem;
}
.footer__form {
  width: 100%;
}
.footer__input {
  padding: 1.3rem 3.5rem;
  background-color: #EEEEFF;
  border: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #181433;
  line-height: 2.6rem;
  letter-spacing: -0.02rem;
  outline: none;
  opacity: 0.5;
}
.footer__button {
  padding: 1.3rem 4.2rem;
  background-color: #3734A9;
  font-size: 1.6rem;
  font-weight: 500;
  color: #FFFFFF;
  line-height: 2.6rem;
  letter-spacing: -0.02rem;
  border: 0;
  outline: none;
  transform: translateX(-2px);
}
@media (max-width: 520px) {
  .footer__button {
    margin-top: 2rem;
  }
}
.footer__note {
  font-size: 1.6rem;
  font-weight: 500;
  color: #181433;
  line-height: 2.6rem;
  letter-spacing: -0.04rem;
  opacity: 0.5;
  max-width: 32.9rem;
  margin-top: 2.1rem;
}
.footer__divider {
  border-top: 2px solid #E5E5EA;
  width: 100%;
  margin: 5.9rem 0 4rem;
}
.footer__copyright {
  font-size: 1.6rem;
  font-weight: 400;
  color: #181433;
  line-height: 2.6rem;
  letter-spacing: -0.04rem;
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

/*# sourceMappingURL=main.css.map */
